{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
    <a href="{% url 'post_detail' pk=post.pk %}">
        <div class="blog-post-container">
            <div class="blog-post-header">
                <div class="blog-post-title">
                    {{ post.title}}
                </div>

                <div class="blog-post-published">
                    {{ post.published_date}}
                </div>
            </div>
            <div class="blog-post-content">
                <div>
                    {{ post.short }}
                    
                </div>
            </div>
        </div>
    </a>
        
    {% endfor %}

  
    {% comment %} {% for post in posts %}
        <article class="post">
            <time class="date">
                {{ post.published_date }}
            </time>
            <h2><a href="{% url 'post_detail' post.pk%}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %} {% endcomment %}
{% endblock %}