{% extends 'blog/base.html' %}
{% block content %}
    <!-- <aside class="actions">
        {% if user.is_authenticated %}
            <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
            
                {% include './icons/pencil-fill.svg' %}
            </a>
            <a href="{% url 'post_delete' pk=post.pk %}">Delete</a>
        {% endif%}
        
    </aside> -->

    <div class="post-detail-header">
        <h2>{{ post.title }}</h2>
        {% if post.published_date %}
            <time class="date">
                {{ post.published_date }}
            </time>
        {% endif %}
    </div>
    <div class="post-detail-content">
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}