h1 a, h2 a {
    color: #C25100;
    font-family: 'Lobster';
}

body {
    height: 100vh;
    overflow-x:hidden
    /* background-color: black; */
}

html {
    background-color: green;
}

.blog-container {
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
}

.blog-list {
    background-color: yellow;
    height: 80%;
    width: 80%
}

.blog-card {
    
}